### Обработка аннотаций (разметки) из директории `/train`

In [2]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('../data/raw_dataset.csv')
print(df.shape[0])
df.sample(3, random_state=42)

2962

,id_x,image_id,category_id,bbox,area,segmentation,iscrowd,id_y,license,file_name,height,width,date_captured,extra
1750,1751,593,1,"[525, 1109, '2959.5792', '1050.6345']",3109436.013,"[[1716.951, 1109.366, 1775.609, 1111.017, 3484...",0,593,1,GX010294_MP4-0031_jpg.rf.v2bjFn7YdZWcgNFvQabS.jpg,2160,3840,2026-02-14T16:59:26+00:00,{'name': 'GX010294_MP4-0031.jpg'}
1583,1584,537,2,"[0, 0, '1666.3843', '1250.2940']",2083470.292,"[[1650.667, 270.667, 1429.084, 0, 0, 0, 0, 125...",0,537,1,GX010297_MP4-0821_jpg.rf.omnTe4SbZzg8iqemzOL9.jpg,2160,3840,2026-02-14T16:59:26+00:00,{'name': 'GX010297_MP4-0821.jpg'}
2741,2742,926,2,"[0, 161, '1733.2228', '1310.0884']",2270675.085,"[[1706.867, 880.2, 1034.656, 161.098, 0, 318.5...",0,926,1,GX010294_MP4-0071_jpg.rf.hwjr8hOKeo4JIhrI64hi.jpg,2160,3840,2026-02-14T16:59:26+00:00,{'name': 'GX010294_MP4-0071.jpg'}

___

In [4]:
print(f'shape before preprocessing: {df.shape}')
preprocessed_df = df[['file_name', 'bbox', 'segmentation', 'category_id']]

preprocessed_df['bbox'] = preprocessed_df['bbox'].apply(lambda row: [round(float(value)) for value in eval(row)])
preprocessed_df['segmentation'] = preprocessed_df['segmentation'].apply(lambda lst: [round(float(value)) for value in eval(lst)[0]])

display(preprocessed_df.sample(3, random_state=42))
print(f'shape after preprocessing: {preprocessed_df.shape}')

shape before preprocessing: (2962, 14)

,file_name,bbox,segmentation,category_id
1750,GX010294_MP4-0031_jpg.rf.v2bjFn7YdZWcgNFvQabS.jpg,"[525, 1109, 2960, 1051]","[1717, 1109, 1776, 1111, 3485, 2160, 525, 2160]",1
1583,GX010297_MP4-0821_jpg.rf.omnTe4SbZzg8iqemzOL9.jpg,"[0, 0, 1666, 1250]","[1651, 271, 1429, 0, 0, 0, 0, 1250, 1666, 360]",2
2741,GX010294_MP4-0071_jpg.rf.hwjr8hOKeo4JIhrI64hi.jpg,"[0, 161, 1733, 1310]","[1707, 880, 1035, 161, 0, 319, 0, 1471, 1733, ...",2

shape after preprocessing: (2962, 4)

In [5]:
print('data info')
display(preprocessed_df.info())
print('\nnull values check')
display(preprocessed_df.isna().sum())

data info
<class 'pandas.DataFrame'>
RangeIndex: 2962 entries, 0 to 2961
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   file_name     2962 non-null   str
 1   bbox          2962 non-null   object
 2   segmentation  2962 non-null   object
 3   category_id   2962 non-null   int64
dtypes: int64(1), object(2), str(1)
memory usage: 92.7+ KB

None

null values check

file_name       0
bbox            0
segmentation    0
category_id     0
dtype: int64

In [6]:
preprocessed_df.to_pickle('../data/dataset.pkl')